* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
}
body {
  background-color: #171717;
  color: white;
}
s a {
  text-decoration: none;
}

.topo {
  display: flex;
  gap: 40px;

  justify-content: space-between;

  margin-right: 40px;
}
.name {
  margin-top: 28px;
  margin-left: 80px;
}
.name p {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}

.links {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.links a {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.imagem {
  display: flex;
  gap: 110px;
  justify-content: space-between;
}
header img {
  width: 500px;
  margin-top: 120px;
  margin-right: 70px;
  border-radius: 50%;
  border: 10px solid #242323;
}
.texto {
  display: flex;
  flex-direction: column;
  margin-top: 320px;
  margin-left: 128px;
}

.texto h2 {
  margin-bottom: 9px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
}

.texto p {
  font-family: "DM Sans";
  font-style: Medium;
  font-size: 18px;
  line-height: 23px;
}

.texto button {
  background-color: #27ae60;
  width: 143px;
  height: 42px;
  margin-top: 35px;
  animation: none;
}

.sobre {
  margin-top: 45px;
  margin-bottom: 38px;
  text-align: center;
}
.sobre h2 {
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 48px;
  line-height: 62px;
  align-items: center;
}
.sobre p {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 38px;
  font-family: "DM Sans";
  font-style: Medium;
  font-size: 18px;
  line-height: 23px;
}
.social {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.social img {
  width: 50px;
  height: 50px;
}

.titulo2 h2 {
  margin-top: 120px;
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
}
.cards {
  margin-top: 100px;
  display: flex;
  gap: 60px;
  justify-content: center;
}
.cards div {
  background-color: #212121;
  height: 200px;
  width: 300px;
  border-bottom: 3px solid #27ae60;
}
.cards img {
  margin-top: 30px;
  margin-left: 35px;
}
.cards h3 {
  font-family: "DM Sans";
  font-style: Medium;
  font-size: 25px;
  line-height: 47px;
  text-align: left;
  margin-top: 20px;
  margin-left: 30px;
  color: #535353;
}

.card {
  display: flex;

  justify-content: space-between;

  background-color: #212121;
  height: 250px;
  width: 1000px;
  margin-top: 70px;
  margin-inline: auto;
  margin-bottom: 100px;
}
.card div {
  margin: 10px 50px;
}
.card h3 {
  color: #4f4f4f;
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 40px;
  line-height: 94px;
  text-align: center;
}
.card p {
  color: #27ae60;
  text-align: center;
  font-family: "DM Sans";
  font-style: Bold;
  font-size: 24px;
  line-height: 31px;
}
